.section7 {
  margin-bottom: 10rem;
}

.section7 h1 {
  padding: 25px 50px;
  font-weight: bold;
}
.section7 h1 span {
  color: #ff9304;
}
.slider {
}

.section7 img {
  filter: grayscale(1);
  padding: 50px;
  margin: 15px;
  height: 180px;
  border: 1px solid rgb(223, 223, 223);
  transition: filter 0.4s ease-in-out, transform 1s ease-in-out;
}
.section7 img:hover {
  filter: grayscale(0);
  transform: rotateY(360deg);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: #ff9304;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: #ff9304;
}
@media screen and (max-width: 992px) {
  .section7 img {
    filter: grayscale(1);
    padding: 50px;
    margin: 15px;
    height: 130px;
    border: 1px solid rgb(223, 223, 223);
    transition: filter 0.4s ease-in-out, transform 1s ease-in-out;
  }
}

@media screen and (max-width: 1264px) {
  .section7 img {
    filter: grayscale(1);
    padding: 50px;
    margin: 15px;
    height: 150px;
    border: 1px solid rgb(223, 223, 223);
    transition: filter 0.4s ease-in-out, transform 1s ease-in-out;
  }
}
