.footer {
  margin: 5rem 0 0 0;
  border-top: 1px solid rgb(233, 233, 233);
  padding: 25px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.footer-logo img {
  width: 200px;
  height: 60px;
}
.clean_energy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.clean_energy img {
  width: 200px;
  height: 80px;
}
.footer-social {
  display: flex;
  justify-content: center;
}
.footer-social span {
  padding: 10px;
}
.footer-social span i {
  color: rgb(151, 151, 151);
  cursor: pointer;
}
.footer-social span i:hover {
  color: #ff9304;
}

.footer-useful h5 {
  font-weight: bold;
}
.footer-useful span {
  color: #ff9304;
  font-weight: bold;
}
.footer-useful ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style-type: none;
}
.footer-useful ul li {
  cursor: pointer;
  padding: 20px 0 0 0;
  transition: color 0.4s;
}
.footer-useful ul li:hover {
  color: #ff9304;
  font-weight: bold;
}

.footer-useful2 span {
  color: #ff9304;
  font-weight: bold;
}
.footer-useful2 h5 {
  text-transform: uppercase;
  font-weight: bold;
}
.footer-useful2 h6 {
  font-weight: bold;
  padding-top: 10px;
}
.footer-bottom {
  border-top: 1px solid rgb(233, 233, 233);
}
.footer-bottom p {
  padding-top: 10px;
}
.footer-bottom-a {
  color: rgb(143, 143, 143);
}
.footer-bottom p span {
  color: #ff9304;
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .footer-useful ul li {
    cursor: pointer;
    padding: 10px 0 0 0;
    transition: color 0.4s;
  }
  .footer-useful ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0;
    list-style-type: none;
  }
  .footer-bottom {
    margin-bottom: 5rem;
  }
}
