.solarsystem {
  margin: 5rem 0 10rem 0;
}
.solarbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  background-color: #ff9304;
}
.solarbox-middle {
  background-color: white;
  border: 2px solid #ff9304;
  transform: scale(1.1);
}
.solarbox-middle h2 {
  color: #ff9304 !important;
  font-weight: bold;
}
.solarbox-middle span {
  color: #ff9304 !important;
  font-weight: bold;
}
.icon-middle {
  background-color: white;
  border: 5px solid #ff9304;
  padding: 25px;
  border-radius: 50%;
  margin-top: 5px;
}
.solarbox-middle button {
  background-color: #ff9304 !important;
  padding: 10px 20px;
  color: white !important;
  border: 1px solid white !important;
  font-weight: bold;
  border-radius: 15px;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
}
.solarbox-middle button:hover {
  background-color: white !important;
  color: #ff9304 !important;
  border: 1px solid #ff9304 !important;
}
.solarbox h2 {
  color: white;
  font-weight: bold;
}
.solarbox span {
  font-weight: bold;
  color: white;
}
.icon {
  background-color: white;
  border: 5px solid black;
  padding: 25px;
  border-radius: 50%;
  margin-top: 5px;
}
.solarbox button {
  background-color: white;
  padding: 10px 20px;
  color: #ff9304;
  border: 1px solid #ff9304;
  font-weight: bold;
  border-radius: 15px;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
}
.solarbox button:hover {
  background-color: #ff9304;
  color: white;
  border: 1px solid white;
}
@media screen and (max-width: 992px) {
  .solarbox-middle {
    margin: 2rem 0;
    transform: scale(1);
  }
}
